/* Write your CSS here */

.main {
  padding: 10px;

  background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
  min-height: 100vh;
  min-width: 388px;
  background-size: cover;
}
.main-logo {
  height: 50px;
}

ul {
  padding: 0px;
}
li {
  list-style: none;
}
h1 {
  color: #ffffff;
}
.main-heading {
  font-size: 20px;
}

@media (max-width: 576px) {
  .main {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
    background-size: cover;
  }
}
