/* Write your CSS here */

.second-main {
  padding: 100px;
  background-image: linear-gradient(#a4261d, #1e293b);
  min-height: 100vh;
  min-width: 380px;
}

.banner {
  height: 300px;
  width: 98%;
}

@media (max-width: 576px) {
  .banner {
    height: 200px;
  }
  .second-main {
    padding: 20px;
  }
}
