* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.center {
  justify-content: center;
}
.space-evenly {
  justify-content: space-evenly;
}
.row-nor {
  display: flex;
  align-items: center;
}
.col-nor {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.apart {
  justify-content: space-between;
}
.wrap {
  flex-wrap: wrap;
}
